# test replication acros multiple docker hosts

version: '2'

services:
    db_node_one:
        image: opendicom/mariadb-for-dcm4chee:5.5.2
        ports:
            - "3306:3306"
            - "4567:4567"
            - "4568:4568"
            - "4444:4444"
        command: ["mysqld", "--wsrep-new-cluster"]
        environment:
            MYSQL_ROOT_PASSWORD: secure
            MYSQL_DATABASE: awesome
            WSREP_ON: 'on'  # set to null to disable
            WSREP_CLUSTER_NAME: test-cluster
            WSREP_CLUSTER_ADDRESS: gcomm://192.168.3.10,192.168.3.20
            WSREP_NODE_NAME: db_node_one
            WSREP_NODE_ADDRESS: 192.168.3.10
            REPLICATION_USER: replication
            REPLICATION_PASSWORD: password
